.btn-rounded .btn{
	border-radius: 20%;
	background-color: brown;
}
.btn-primary{
	background-color: #795448 !important;
}

.center{
	text-align: center;
}

.align-items-center{
	display: inline-block;
}


/* .v-center-parent {
	padding: 5% 0;
	}
	
.v-center-child{
	padding: 10% 0;
}  */